**/__pycache__
quickbb_out.qbb
quickbb_stat.qbb
quickbb.cnf
graph.eps
adjacency_graph.matcobalt_logs
cobalt_logs/
adjacency_graph.mattest_circuits
test_circuits
**/.ipynb_checkpoints
*.egg-info
*.error
*.output
*.cobaltlog
